In [1]:
import pandas as pd

# Reading Series and DataFrames

Lets have a look inside the `pokemon.csv` file and the content inside it. 
The content is quite unredable for now but this is the data we are going to use for this section of the lecture.

In [2]:
%%bash
head Pokemon.csv

#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

Pandas provides us with the function calle `read_csv` to read the csv file and take care of the data. by default it takes the first row of the csv file as column names and rest of the data belong to the columns.

In [2]:
#df = pd.read_csv("Pokemon.csv",  sep= ",", header='infer', index_col=None, skiprows=None )
df = pd.read_csv("Pokemon.csv")

Imagine someboy gave you a random dataset. You don't know any of its contents. What are the first steps you do?

with `.head()` you have take a look inside the dataset. It prints the first 5 row of the dataset by default. However, you can pass number as pameter of how many data you want to view.

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
df.shape

(800, 13)

In [5]:
df.size

10400

similar thing can be done with `.tail()` fuction. the only difference is, it prints the data from the end of the dataset.

In [6]:
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

with `.describe()` you can print the summary of the dataset. The summary includes central tendency, 

Now what does it means? How can we interpret the results?  

as you can see in the cell avobe, the dataset has 800 entires. we can aslo verify it with `df.shape` which gives us the row and column numbers of the dataset. the row shows `count`, `mean`, `std`, `25%`, `50%`, `75%` and `max`. The coulmn has all teh columns that are possibelt to describe with in the scope of summary statistics. 

  - the **count** shows us the count of entries each column has (every column has 800 entries)
  - **mean** shows us the mean values of each column
  - **std** goes for standerddiviation. 
  - **min** values in each column
  - the **percentile** of the dataset where the data belongs to. 
  - **max** values in each column.

In [7]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

`.value_counts()` gives us the unique values in a column and the count of the values as well.

the clomun `Type 1` has only catagorical values.  so we get the output as categorical names and the count of the catagories.

In [33]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         51
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

as the colum Legendary is a boolen column, it contains only true or false values.

In [9]:
df["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [10]:
#when working with csvs you really want to make sure if you want the first column as index-column!
df = pd.read_csv("Pokemon.csv", index_col=0)
df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

it is possible to chain multiple function calls one after another.

In [11]:
df.reset_index().tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
df.shape

(800, 12)

In [14]:
df.reset_index().drop_duplicates(subset="#").tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [17]:
df = df[df['Name'] != 'Volcanion']
df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [36]:
no_duplicates = df.reset_index().drop_duplicates(subset="#").reset_index().drop("index", axis=1)  
no_duplicates.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
715,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
716,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
717,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
718,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True

with `.to_csv()` we can save the cleaned dataframe as csv file.

In [26]:
no_duplicates.set_index("#").to_csv('Pokemon_no_duplicates.csv')
#no_duplicates.to_excel('Pokemon_no_duplicates.xlsx', sheet_name='Sheet1')

In [27]:
%%bash
head Pokemon_no_duplicates.csv

#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,Squirtle,Water,,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,,405,59,63,80,65,80,58,1,False
9,Blastoise,Water,,530,79,83,100,85,105,78,1,False

In [28]:
gen_one = no_duplicates[no_duplicates["Generation"] == 1].set_index("#")
gen_one.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [37]:
first_gen_dict = gen_one["Name"].to_dict()
first_gen_dict

{1: 'Bulbasaur',
 2: 'Ivysaur',
 3: 'Venusaur',
 4: 'Charmander',
 5: 'Charmeleon',
 6: 'Charizard',
 7: 'Squirtle',
 8: 'Wartortle',
 9: 'Blastoise',
 10: 'Caterpie',
 11: 'Metapod',
 12: 'Butterfree',
 13: 'Weedle',
 14: 'Kakuna',
 15: 'Beedrill',
 16: 'Pidgey',
 17: 'Pidgeotto',
 18: 'Pidgeot',
 19: 'Rattata',
 20: 'Raticate',
 21: 'Spearow',
 22: 'Fearow',
 23: 'Ekans',
 24: 'Arbok',
 25: 'Pikachu',
 26: 'Raichu',
 27: 'Sandshrew',
 28: 'Sandslash',
 29: 'Nidoran♀',
 30: 'Nidorina',
 31: 'Nidoqueen',
 32: 'Nidoran♂',
 33: 'Nidorino',
 34: 'Nidoking',
 35: 'Clefairy',
 36: 'Clefable',
 37: 'Vulpix',
 38: 'Ninetales',
 39: 'Jigglypuff',
 40: 'Wigglytuff',
 41: 'Zubat',
 42: 'Golbat',
 43: 'Oddish',
 44: 'Gloom',
 45: 'Vileplume',
 46: 'Paras',
 47: 'Parasect',
 48: 'Venonat',
 49: 'Venomoth',
 50: 'Diglett',
 51: 'Dugtrio',
 52: 'Meowth',
 53: 'Persian',
 54: 'Psyduck',
 55: 'Golduck',
 56: 'Mankey',
 57: 'Primeape',
 58: 'Growlithe',
 59: 'Arcanine',
 60: 'Poliwag',
 61: 'Poliwhirl',
 62: 'Poliwrath',
 63: 'Abra',
 64: 'Kadabra',
 65: 'Alakazam',
 66: 'Machop',
 67: 'Machoke',
 68: 'Machamp',
 69: 'Bellsprout',
 70: 'Weepinbell',
 71: 'Victreebel',
 72: 'Tentacool',
 73: 'Tentacruel',
 74: 'Geodude',
 75: 'Graveler',
 76: 'Golem',
 77: 'Ponyta',
 78: 'Rapidash',
 79: 'Slowpoke',
 80: 'Slowbro',
 81: 'Magnemite',
 82: 'Magneton',
 83: "Farfetch'd",
 84: 'Doduo',
 85: 'Dodrio',
 86: 'Seel',
 87: 'Dewgong',
 88: 'Grimer',
 89: 'Muk',
 90: 'Shellder',
 91: 'Cloyster',
 92: 'Gastly',
 93: 'Haunter',
 94: 'Gengar',
 95: 'Onix',
 96: 'Drowzee',
 97: 'Hypno',
 98: 'Krabby',
 99: 'Kingler',
 100: 'Voltorb',
 101: 'Electrode',
 102: 'Exeggcute',
 103: 'Exeggutor',
 104: 'Cubone',
 105: 'Marowak',
 106: 'Hitmonlee',
 107: 'Hitmonchan',
 108: 'Lickitung',
 109: 'Koffing',
 110: 'Weezing',
 111: 'Rhyhorn',
 112: 'Rhydon',
 113: 'Chansey',
 114: 'Tangela',
 115: 'Kangaskhan',
 116: 'Horsea',
 117: 'Seadra',
 118: 'Goldeen',
 119: 'Seaking',
 120: 'Staryu',
 121: 'Starmie',
 122: 'Mr. Mime',
 123: 'Scyther',
 124: 'Jynx',
 125: 'Electabuzz',
 126: 'Magmar',
 127: 'Pinsir',
 128: 'Tauros',
 129: 'Magikarp',
 130: 'Gyarados',
 131: 'Lapras',
 132: 'Ditto',
 133: 'Eevee',
 134: 'Vaporeon',
 135: 'Jolteon',
 136: 'Flareon',
 137: 'Porygon',
 138: 'Omanyte',
 139: 'Omastar',
 140: 'Kabuto',
 141: 'Kabutops',
 142: 'Aerodactyl',
 143: 'Snorlax',
 144: 'Articuno',
 145: 'Zapdos',
 146: 'Moltres',
 147: 'Dratini',
 148: 'Dragonair',
 149: 'Dragonite',
 150: 'Mewtwo',
 151: 'Mew'}

In [38]:
[str(key)+" : "+str(val) for index, (key, val) in enumerate(first_gen_dict.items()) if index < 9]

['1 : Bulbasaur',
 '2 : Ivysaur',
 '3 : Venusaur',
 '4 : Charmander',
 '5 : Charmeleon',
 '6 : Charizard',
 '7 : Squirtle',
 '8 : Wartortle',
 '9 : Blastoise']

**Documentation!**

There are really really many arguments for this function, suiting all of your needs!

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html